<div class="repo-profile">
  <a class="repo-profile__link" href="https://github.com/{{ include.username }}">
    {% if include.username == site.github_username and site.github_profile_image %}
      <img
        class="repo-profile__avatar"
        src="{{ site.github_profile_image | prepend: '/assets/img/' | relative_url }}"
        alt=""
        width="72"
        height="72"
      >
    {% else %}
      <span class="repo-profile__avatar repo-profile__avatar--fallback" aria-hidden="true">
        {{ include.username | slice: 0 | upcase }}
      </span>
    {% endif %}

    <span class="repo-profile__details">
      <span class="repo-profile__name">
        {% if include.username == site.github_username and site.title %}
          {{ site.title }}
        {% else %}
          {{ include.username }}
        {% endif %}
      </span>
      <span class="repo-profile__username">@{{ include.username }}</span>
      <span class="repo-profile__action">View GitHub profile <span aria-hidden="true">↗</span></span>
    </span>
  </a>
</div>
